--
-- neondb_ownerQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignment_users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.assignment_users (
    assignment_id integer NOT NULL,
    group_member_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.assignment_users OWNER TO neondb_owner;

--
-- Name: TABLE assignment_users; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.assignment_users IS 'Many-to-many relationship between assignments and group members';


--
-- Name: COLUMN assignment_users.assignment_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.assignment_users.assignment_id IS 'Reference to the assignment';


--
-- Name: assignments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.assignments (
    id integer NOT NULL,
    expense_id integer,
    item_id integer,
    quantity numeric(5,2) DEFAULT 1 NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    people_count integer DEFAULT 1 NOT NULL,
    price_per_person numeric(10,2) NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT positive_people CHECK ((people_count > 0)),
    CONSTRAINT positive_quantity CHECK ((quantity > (0)::numeric))
);


ALTER TABLE public.assignments OWNER TO neondb_owner;

--
-- Name: TABLE assignments; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.assignments IS 'Assignments of items to people with quantities and prices';


--
-- Name: COLUMN assignments.quantity; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.assignments.quantity IS 'Quantity assigned in this assignment (cannot exceed item max_quantity)';


--
-- Name: COLUMN assignments.people_count; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.assignments.people_count IS 'Number of people sharing this assignment';


--
-- Name: COLUMN assignments.price_per_person; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.assignments.price_per_person IS 'Price per person (manually set by frontend to avoid precision issues)';


--
-- Name: assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignments_id_seq OWNER TO neondb_owner;

--
-- Name: assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.assignments_id_seq OWNED BY public.assignments.id;


--
-- Name: expense_payers; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.expense_payers (
    id integer NOT NULL,
    expense_id integer,
    group_member_id integer,
    amount_paid numeric(10,2) NOT NULL,
    payment_method character varying(50) DEFAULT 'unknown'::character varying,
    payment_date timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.expense_payers OWNER TO neondb_owner;

--
-- Name: TABLE expense_payers; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.expense_payers IS 'Who paid for each expense (supports multiple payers)';


--
-- Name: expense_payers_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.expense_payers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.expense_payers_id_seq OWNER TO neondb_owner;

--
-- Name: expense_payers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.expense_payers_id_seq OWNED BY public.expense_payers.id;


--
-- Name: expense_splits; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.expense_splits (
    id integer NOT NULL,
    expense_id integer,
    group_member_id integer,
    amount_owed numeric(10,2) NOT NULL,
    split_type character varying(20) DEFAULT 'equal'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    percentage numeric(5,2)
);


ALTER TABLE public.expense_splits OWNER TO neondb_owner;

--
-- Name: TABLE expense_splits; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.expense_splits IS 'How each expense is split among group members';


--
-- Name: COLUMN expense_splits.percentage; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.expense_splits.percentage IS 'Percentage value for percentage-based splits (0-100). NULL for equal and custom splits.';


--
-- Name: expense_splits_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.expense_splits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.expense_splits_id_seq OWNER TO neondb_owner;

--
-- Name: expense_splits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.expense_splits_id_seq OWNED BY public.expense_splits.id;


--
-- Name: expenses; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.expenses (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    currency character varying(3) DEFAULT 'EUR'::character varying,
    date date NOT NULL,
    category character varying(100) DEFAULT 'Other'::character varying,
    notes text,
    group_id integer,
    split_type character varying(20) DEFAULT 'equal'::character varying,
    receipt_image_url character varying(500),
    created_by integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.expenses OWNER TO neondb_owner;

--
-- Name: TABLE expenses; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.expenses IS 'Expenses created within groups';


--
-- Name: expenses_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.expenses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.expenses_id_seq OWNER TO neondb_owner;

--
-- Name: expenses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.expenses_id_seq OWNED BY public.expenses.id;


--
-- Name: group_invites_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.group_invites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.group_invites_id_seq OWNER TO neondb_owner;

--
-- Name: group_invites; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.group_invites (
    id integer DEFAULT nextval('public.group_invites_id_seq'::regclass) NOT NULL,
    group_id integer NOT NULL,
    invite_code character varying(255) NOT NULL,
    created_by integer NOT NULL,
    expires_at timestamp with time zone,
    max_uses integer DEFAULT 1,
    current_uses integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.group_invites OWNER TO neondb_owner;

--
-- Name: TABLE group_invites; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.group_invites IS 'Invite links for joining groups';


--
-- Name: COLUMN group_invites.invite_code; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.group_invites.invite_code IS 'Unique invite code for the link';


--
-- Name: COLUMN group_invites.expires_at; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.group_invites.expires_at IS 'When the invite expires (NULL = never expires)';


--
-- Name: COLUMN group_invites.max_uses; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.group_invites.max_uses IS 'Maximum number of times this invite can be used';


--
-- Name: COLUMN group_invites.current_uses; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.group_invites.current_uses IS 'Number of times this invite has been used';


--
-- Name: COLUMN group_invites.is_active; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.group_invites.is_active IS 'Whether this invite is currently active';


--
-- Name: group_members; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.group_members (
    id integer NOT NULL,
    group_id integer,
    user_id integer,
    nickname character varying(255) NOT NULL,
    email character varying(255),
    role character varying(50) DEFAULT 'member'::character varying,
    is_registered_user boolean DEFAULT false,
    joined_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.group_members OWNER TO neondb_owner;

--
-- Name: TABLE group_members; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.group_members IS 'Members of groups, can be registered users or non-users';


--
-- Name: group_members_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.group_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.group_members_id_seq OWNER TO neondb_owner;

--
-- Name: group_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.group_members_id_seq OWNED BY public.group_members.id;


--
-- Name: groups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.groups (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    image_url character varying(500),
    created_by integer,
    currency character varying(3) DEFAULT 'EUR'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.groups OWNER TO neondb_owner;

--
-- Name: TABLE groups; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.groups IS 'Groups that users can create and join for expense sharing';


--
-- Name: groups_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.groups_id_seq OWNER TO neondb_owner;

--
-- Name: groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.groups_id_seq OWNED BY public.groups.id;


--
-- Name: items; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.items (
    id integer NOT NULL,
    expense_id integer,
    name character varying(255) NOT NULL,
    description text,
    unit_price numeric(10,2) NOT NULL,
    max_quantity integer DEFAULT 1 NOT NULL,
    total_price numeric(10,2) NOT NULL,
    category character varying(100) DEFAULT 'Other'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.items OWNER TO neondb_owner;

--
-- Name: TABLE items; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.items IS 'Individual items from receipts that can be assigned to people';


--
-- Name: COLUMN items.max_quantity; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.items.max_quantity IS 'Maximum quantity available for this item (from receipt)';


--
-- Name: COLUMN items.total_price; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.items.total_price IS 'Total price for all available quantity (unit_price * max_quantity)';


--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.items_id_seq OWNER TO neondb_owner;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.payments (
    id integer NOT NULL,
    group_id integer,
    from_group_member_id integer,
    to_group_member_id integer,
    amount numeric(10,2) NOT NULL,
    currency character varying(3) DEFAULT 'EUR'::character varying,
    status character varying(20) DEFAULT 'pending'::character varying,
    payment_method character varying(50),
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.payments OWNER TO neondb_owner;

--
-- Name: TABLE payments; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.payments IS 'Payments between group members for settling debts';


--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO neondb_owner;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: receipt_images; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.receipt_images (
    id integer NOT NULL,
    expense_id integer,
    image_url character varying(500) NOT NULL,
    ocr_data jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.receipt_images OWNER TO neondb_owner;

--
-- Name: TABLE receipt_images; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.receipt_images IS 'Receipt images uploaded for OCR processing';


--
-- Name: receipt_images_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.receipt_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.receipt_images_id_seq OWNER TO neondb_owner;

--
-- Name: receipt_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.receipt_images_id_seq OWNED BY public.receipt_images.id;


--
-- Name: settlements; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.settlements (
    id integer NOT NULL,
    group_id integer,
    from_group_member_id integer,
    to_group_member_id integer,
    amount numeric(10,2) NOT NULL,
    currency character varying(3) DEFAULT 'EUR'::character varying,
    status character varying(20) DEFAULT 'active'::character varying,
    calculation_timestamp timestamp with time zone DEFAULT now(),
    settled_at timestamp with time zone,
    settled_by integer,
    created_expense_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT different_members CHECK ((from_group_member_id <> to_group_member_id)),
    CONSTRAINT positive_amount CHECK ((amount > (0)::numeric)),
    CONSTRAINT valid_currency CHECK (((currency)::text ~ '^[A-Z]{3}$'::text)),
    CONSTRAINT valid_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'settled'::character varying, 'obsolete'::character varying])::text[])))
);


ALTER TABLE public.settlements OWNER TO neondb_owner;

--
-- Name: TABLE settlements; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.settlements IS 'Optimal debt settlements calculated for groups to minimize transactions';


--
-- Name: COLUMN settlements.group_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.group_id IS 'Reference to the group this settlement belongs to';


--
-- Name: COLUMN settlements.from_group_member_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.from_group_member_id IS 'Group member who owes money (debtor)';


--
-- Name: COLUMN settlements.to_group_member_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.to_group_member_id IS 'Group member who should receive money (creditor)';


--
-- Name: COLUMN settlements.amount; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.amount IS 'Amount to be settled';


--
-- Name: COLUMN settlements.currency; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.currency IS 'Currency code (3-letter ISO)';


--
-- Name: COLUMN settlements.status; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.status IS 'Settlement status: active, settled, or obsolete';


--
-- Name: COLUMN settlements.calculation_timestamp; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.calculation_timestamp IS 'When this settlement was calculated';


--
-- Name: COLUMN settlements.settled_at; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.settled_at IS 'When this settlement was marked as settled';


--
-- Name: COLUMN settlements.settled_by; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.settled_by IS 'User who marked this settlement as settled';


--
-- Name: COLUMN settlements.created_expense_id; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.settlements.created_expense_id IS 'Expense created when settlement was marked as settled';


--
-- Name: settlements_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.settlements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.settlements_id_seq OWNER TO neondb_owner;

--
-- Name: settlements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.settlements_id_seq OWNED BY public.settlements.id;


--
-- Name: user_preferences; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.user_preferences (
    id integer NOT NULL,
    user_id integer,
    currency character varying(3) DEFAULT 'USD'::character varying,
    language character varying(10) DEFAULT 'en'::character varying,
    notifications boolean DEFAULT true,
    email_notifications boolean DEFAULT true,
    dark_mode boolean DEFAULT false,
    biometric_auth boolean DEFAULT false,
    auto_sync boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_preferences OWNER TO neondb_owner;

--
-- Name: TABLE user_preferences; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.user_preferences IS 'User application preferences and settings';


--
-- Name: user_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.user_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_preferences_id_seq OWNER TO neondb_owner;

--
-- Name: user_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.user_preferences_id_seq OWNED BY public.user_preferences.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE IF NOT EXISTS public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    birthdate date,
    avatar character varying(500),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    first_name character varying(255),
    last_name character varying(255),
    phone character varying(20),
    bio text,
    is_email_verified boolean DEFAULT false,
    timezone character varying(50) DEFAULT 'UTC'::character varying
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.users IS 'User accounts for the application';


--
-- Name: COLUMN users.first_name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.first_name IS 'User first name';


--
-- Name: COLUMN users.last_name; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.last_name IS 'User last name';


--
-- Name: COLUMN users.phone; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.phone IS 'User phone number';


--
-- Name: COLUMN users.bio; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.bio IS 'User biography/description';


--
-- Name: COLUMN users.is_email_verified; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.is_email_verified IS 'Whether user email is verified';


--
-- Name: COLUMN users.timezone; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.users.timezone IS 'User timezone preference';


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE IF NOT EXISTS public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: assignments id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.assignments ALTER COLUMN id SET DEFAULT nextval('public.assignments_id_seq'::regclass);


--
-- Name: expense_payers id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expense_payers ALTER COLUMN id SET DEFAULT nextval('public.expense_payers_id_seq'::regclass);


--
-- Name: expense_splits id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expense_splits ALTER COLUMN id SET DEFAULT nextval('public.expense_splits_id_seq'::regclass);


--
-- Name: expenses id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expenses ALTER COLUMN id SET DEFAULT nextval('public.expenses_id_seq'::regclass);


--
-- Name: group_members id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_members ALTER COLUMN id SET DEFAULT nextval('public.group_members_id_seq'::regclass);


--
-- Name: groups id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.groups ALTER COLUMN id SET DEFAULT nextval('public.groups_id_seq'::regclass);


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: receipt_images id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.receipt_images ALTER COLUMN id SET DEFAULT nextval('public.receipt_images_id_seq'::regclass);


--
-- Name: settlements id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.settlements ALTER COLUMN id SET DEFAULT nextval('public.settlements_id_seq'::regclass);


--
-- Name: user_preferences id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_preferences ALTER COLUMN id SET DEFAULT nextval('public.user_preferences_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: assignment_users assignment_users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.assignment_users
    ADD CONSTRAINT assignment_users_pkey PRIMARY KEY (assignment_id, group_member_id);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: expense_payers expense_payers_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expense_payers
    ADD CONSTRAINT expense_payers_pkey PRIMARY KEY (id);


--
-- Name: expense_splits expense_splits_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expense_splits
    ADD CONSTRAINT expense_splits_pkey PRIMARY KEY (id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (id);


--
-- Name: group_invites group_invites_invite_code_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_invites
    ADD CONSTRAINT group_invites_invite_code_key UNIQUE (invite_code);


--
-- Name: group_invites group_invites_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_invites
    ADD CONSTRAINT group_invites_pkey PRIMARY KEY (id);


--
-- Name: group_members group_members_group_id_nickname_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_nickname_key UNIQUE (group_id, nickname);


--
-- Name: group_members group_members_group_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_user_id_key UNIQUE (group_id, user_id);


--
-- Name: group_members group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_pkey PRIMARY KEY (id);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: receipt_images receipt_images_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.receipt_images
    ADD CONSTRAINT receipt_images_pkey PRIMARY KEY (id);


--
-- Name: settlements settlements_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.settlements
    ADD CONSTRAINT settlements_pkey PRIMARY KEY (id);


--
-- Name: user_preferences user_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_pkey PRIMARY KEY (id);


--
-- Name: user_preferences user_preferences_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_key UNIQUE (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_assignment_users_assignment_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_assignment_users_assignment_id ON public.assignment_users USING btree (assignment_id);


--
-- Name: idx_assignment_users_group_member_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_assignment_users_group_member_id ON public.assignment_users USING btree (group_member_id);


--
-- Name: idx_assignments_expense_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_assignments_expense_id ON public.assignments USING btree (expense_id);


--
-- Name: idx_assignments_item_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_assignments_item_id ON public.assignments USING btree (item_id);


--
-- Name: idx_expense_payers_expense_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_expense_payers_expense_id ON public.expense_payers USING btree (expense_id);


--
-- Name: idx_expense_payers_group_member_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_expense_payers_group_member_id ON public.expense_payers USING btree (group_member_id);


--
-- Name: idx_expense_splits_expense_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_expense_splits_expense_id ON public.expense_splits USING btree (expense_id);


--
-- Name: idx_expense_splits_group_member_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_expense_splits_group_member_id ON public.expense_splits USING btree (group_member_id);


--
-- Name: idx_expense_splits_percentage; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_expense_splits_percentage ON public.expense_splits USING btree (percentage) WHERE (percentage IS NOT NULL);


--
-- Name: idx_expenses_created_by; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_expenses_created_by ON public.expenses USING btree (created_by);


--
-- Name: idx_expenses_date; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_expenses_date ON public.expenses USING btree (date);


--
-- Name: idx_expenses_group_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_expenses_group_id ON public.expenses USING btree (group_id);


--
-- Name: idx_group_invites_created_by; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_group_invites_created_by ON public.group_invites USING btree (created_by);


--
-- Name: idx_group_invites_expires_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_group_invites_expires_at ON public.group_invites USING btree (expires_at);


--
-- Name: idx_group_invites_group_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_group_invites_group_id ON public.group_invites USING btree (group_id);


--
-- Name: idx_group_invites_invite_code; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_group_invites_invite_code ON public.group_invites USING btree (invite_code);


--
-- Name: idx_group_invites_is_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_group_invites_is_active ON public.group_invites USING btree (is_active);


--
-- Name: idx_group_members_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_group_members_email ON public.group_members USING btree (email);


--
-- Name: idx_group_members_group_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_group_members_group_id ON public.group_members USING btree (group_id);


--
-- Name: idx_group_members_nickname; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_group_members_nickname ON public.group_members USING btree (nickname);


--
-- Name: idx_group_members_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_group_members_user_id ON public.group_members USING btree (user_id);


--
-- Name: idx_groups_created_by; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_groups_created_by ON public.groups USING btree (created_by);


--
-- Name: idx_items_expense_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_items_expense_id ON public.items USING btree (expense_id);


--
-- Name: idx_items_name; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_items_name ON public.items USING btree (name);


--
-- Name: idx_payments_from_group_member; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_from_group_member ON public.payments USING btree (from_group_member_id);


--
-- Name: idx_payments_group_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_group_id ON public.payments USING btree (group_id);


--
-- Name: idx_payments_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_status ON public.payments USING btree (status);


--
-- Name: idx_payments_to_group_member; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_payments_to_group_member ON public.payments USING btree (to_group_member_id);


--
-- Name: idx_settlements_active_by_group; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_settlements_active_by_group ON public.settlements USING btree (group_id) WHERE ((status)::text = 'active'::text);


--
-- Name: idx_settlements_calculation_timestamp; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_settlements_calculation_timestamp ON public.settlements USING btree (calculation_timestamp);


--
-- Name: idx_settlements_created_expense; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_settlements_created_expense ON public.settlements USING btree (created_expense_id);


--
-- Name: idx_settlements_from_member; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_settlements_from_member ON public.settlements USING btree (from_group_member_id);


--
-- Name: idx_settlements_group_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_settlements_group_id ON public.settlements USING btree (group_id);


--
-- Name: idx_settlements_group_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_settlements_group_status ON public.settlements USING btree (group_id, status);


--
-- Name: idx_settlements_settled_by; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_settlements_settled_by ON public.settlements USING btree (settled_by);


--
-- Name: idx_settlements_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_settlements_status ON public.settlements USING btree (status);


--
-- Name: idx_settlements_to_member; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_settlements_to_member ON public.settlements USING btree (to_group_member_id);


--
-- Name: idx_user_preferences_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_user_preferences_user_id ON public.user_preferences USING btree (user_id);


--
-- Name: idx_users_email_verified; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_email_verified ON public.users USING btree (is_email_verified);


--
-- Name: idx_users_phone; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_phone ON public.users USING btree (phone);


--
-- Name: assignment_users assignment_users_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.assignment_users
    ADD CONSTRAINT assignment_users_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignments(id) ON DELETE CASCADE;


--
-- Name: assignment_users assignment_users_group_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.assignment_users
    ADD CONSTRAINT assignment_users_group_member_id_fkey FOREIGN KEY (group_member_id) REFERENCES public.group_members(id) ON DELETE CASCADE;


--
-- Name: assignments assignments_expense_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_expense_id_fkey FOREIGN KEY (expense_id) REFERENCES public.expenses(id) ON DELETE CASCADE;


--
-- Name: assignments assignments_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id) ON DELETE CASCADE;


--
-- Name: expense_payers expense_payers_expense_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expense_payers
    ADD CONSTRAINT expense_payers_expense_id_fkey FOREIGN KEY (expense_id) REFERENCES public.expenses(id) ON DELETE CASCADE;


--
-- Name: expense_payers expense_payers_group_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expense_payers
    ADD CONSTRAINT expense_payers_group_member_id_fkey FOREIGN KEY (group_member_id) REFERENCES public.group_members(id) ON DELETE CASCADE;


--
-- Name: expense_splits expense_splits_expense_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expense_splits
    ADD CONSTRAINT expense_splits_expense_id_fkey FOREIGN KEY (expense_id) REFERENCES public.expenses(id) ON DELETE CASCADE;


--
-- Name: expense_splits expense_splits_group_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expense_splits
    ADD CONSTRAINT expense_splits_group_member_id_fkey FOREIGN KEY (group_member_id) REFERENCES public.group_members(id) ON DELETE CASCADE;


--
-- Name: expenses expenses_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: expenses expenses_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: group_invites group_invites_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_invites
    ADD CONSTRAINT group_invites_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: group_invites group_invites_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_invites
    ADD CONSTRAINT group_invites_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: group_members group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: group_members group_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: groups groups_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: items items_expense_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_expense_id_fkey FOREIGN KEY (expense_id) REFERENCES public.expenses(id) ON DELETE CASCADE;


--
-- Name: payments payments_from_group_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_from_group_member_id_fkey FOREIGN KEY (from_group_member_id) REFERENCES public.group_members(id) ON DELETE CASCADE;


--
-- Name: payments payments_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: payments payments_to_group_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_to_group_member_id_fkey FOREIGN KEY (to_group_member_id) REFERENCES public.group_members(id) ON DELETE CASCADE;


--
-- Name: receipt_images receipt_images_expense_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.receipt_images
    ADD CONSTRAINT receipt_images_expense_id_fkey FOREIGN KEY (expense_id) REFERENCES public.expenses(id) ON DELETE CASCADE;


--
-- Name: settlements settlements_created_expense_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.settlements
    ADD CONSTRAINT settlements_created_expense_id_fkey FOREIGN KEY (created_expense_id) REFERENCES public.expenses(id);


--
-- Name: settlements settlements_from_group_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.settlements
    ADD CONSTRAINT settlements_from_group_member_id_fkey FOREIGN KEY (from_group_member_id) REFERENCES public.group_members(id) ON DELETE CASCADE;


--
-- Name: settlements settlements_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.settlements
    ADD CONSTRAINT settlements_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: settlements settlements_settled_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.settlements
    ADD CONSTRAINT settlements_settled_by_fkey FOREIGN KEY (settled_by) REFERENCES public.users(id);


--
-- Name: settlements settlements_to_group_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.settlements
    ADD CONSTRAINT settlements_to_group_member_id_fkey FOREIGN KEY (to_group_member_id) REFERENCES public.group_members(id) ON DELETE CASCADE;


--
-- Name: user_preferences user_preferences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- neondb_ownerQL database dump complete
--

